body {
	margin: 0;
	background: white;
	font-family: Arial;
	color: red;
}

h1 {
	text-align: center;
}

h2 {
	text-align: left;
	font-size: 16px;
}

input {
	outline: none;
}

.container {
	display: flex;
	margin-left: auto;
    margin-right: auto;
    width: 550px;
}